@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9faf8;
}

.header, .footer {
  background-color: #1F2937;
}

.awesome, .logo {
  font-weight: 700;
  color: #f9faf8;
}

.text_secondary {
  font-size: 18px;
  color: #e5e7eb;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  justify-content: flex-start;
}

.awesome {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: wrap;
}

a, button {
  color: #f9faf8;
}

.links_secondary {
  display: flex;
  list-style: none;
}

button {
  background-color: #3882f6;
  border: #3882f6;
  border-radius: 4px;
  padding: 6px 16px;
}

.header {
  display: flex;
  flex-direction: column;
}

.topheader, .subheader {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.topheader {
  align-items: baseline;
  justify-content: space-between;
}

.subheader {
  align-items: flex-stretch;
  justify-content: flex-stretch;
}

.hero {
  max-width: 50%;
  padding-right: 5%;
}

.placeholder {
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

li {
  padding-left: 24px;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.four {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 18%;
  margin-right: 18%;
}

.information {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 2%;
}

button.image {
  background-color: #f9faf8;
  border: 4px solid #3882f6;
  border-radius: 12px;
  padding: 60px 60px;
}

.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 3%;
}

.descrip {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
}

.testimonial, .thor {
  margin-left: 20%;
  margin-right: 20%;
}

.testimonial {
  font-style: italic;
  font-size: 36px;
  margin-top: 5%;
}

.thor {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5%;
}
