@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  background-color: #1F2937;
}

.awesome, .logo {
  font-weight: 700;
  color: #f9faf8;
}

.text_secondary {
  font-size: 18px;
  color: #e5e7eb;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  justify-content: flex-start;
}

.awesome {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: wrap;
}

a, button {
  color: #f9faf8;
}

.links_secondary {
  display: flex;
  list-style: none;
}

button {
  background-color: #3882f6;
  border: #3882f6;
  border-radius: 4px;
  padding: 6px 16px;
}

.header {
  display: flex;
  flex-direction: column;
}

.topheader, .subheader {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.topheader {
  align-items: baseline;
  justify-content: space-between;
}

.subheader {
  align-items: flex-stretch;
  justify-content: flex-stretch;
}

.hero {
  max-width: 50%;
  padding-right: 5%;
}

.placeholder {
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

li {
  padding-left: 24px;
}